.desktopSX {
  width: 1000px;
  height: 220px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
  border: 1px rgb(163, 153, 153) solid;
  margin: 5px;
  border-radius: 10px;
}
.image51 {
  top: 15px;
  left: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;

  border-color: transparent;
  border-radius: 4px;
  background-size: cover;
}
.textbox33 {
  top: 44px;
  left: 255px;
  width: 700px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.textbox1 {
  margin-top: 10px;
  margin-bottom: 10px;
  top: 66px;
  left: 255px;
  width: 700px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
}
.textbox2 {
  font-size: 20px;
  text-align: center;
  margin-top: 110px;
  top: 65px;
  left: 255px;
  height: 40px;
  width: 342px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
}
.filledbutton1 {
  top: 190px;
  left: 511px;
  width: 21px;
  height: 20px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgb(82, 17, 139);
}
.text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.textbox3 {
  top: 190px;
  left: 565px;
  width: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 17px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.filledbutton2 {
  top: 190px;
  left: 588px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgb(82, 17, 139);
}
.text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
}
.textbox01 {
  top: 15px;
  left: 255px;
  width: 700px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
