
  
  .buttonDiv {
    display: grid;
    grid-template-columns: minmax(120px, 200px) minmax(30px, auto) auto minmax(60px, 90px) ;
    gap: 5px;
  }
  .buttonDiv > div {
    margin-top: 1px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    color:blue;
  }
  .buttonDiv > button {
    grid-column-start: 4;
    grid-column-end: 5;
    
    align-items: center;
    justify-content: center;
    font-size: 10px;
 
    height: 42px;
    border-radius: 12px;
    width: minmax(60px, 90px);
  }