.articleText {
  width: 400px;
  height: 300px;
}
.mainDiv {
  margin-top: 10px;
  grid-template-columns: minmax(200px, auto);
  justify-content: center;
  display: grid;
}
.mainDiv > div {
  display: grid;
  grid-template-columns: minmax(200px, auto);
  justify-content: center;
  align-items: center;
}
.textDiv {
  display: grid;
  grid-template-columns: minmax(200px, auto);
}
.textDiv > input {
  justify-content: center;
  align-items: center;
}

.textDiv > button {
  justify-content: center;
  align-items: center;
}
.artInput {
  margin: 5px;
  height: 30px;
  width: auto;
  border-radius: 5px;
}

.textArea { 
  resize: none; 
  border-radius: 10px;
  height: 200px;
}

.addArtButt {
  margin-top: 10px;
  width: 80px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}