.artDiv {
  display: grid;
  grid-template-columns: minmax(300px, auto);
  grid-template-rows: auto;
  gap: 2px;
}

.artDiv > div {
  background-color: rgb(91, 54, 166);
  border: 0px;
  border-radius: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.artDiv > input {
  margin: 5px;
  border-radius: 5px;
}

.oneArtModule {
  cursor: pointer;
  margin: 5px;
  display: grid;
  color: white;
}
