.artDiv {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: minmax(auto, auto);
  gap: 2px;
}

.artDiv > div {
  border: 1px black solid;
  border-radius: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.artDiv > input {
  margin: 5px;
  border-radius: 5px;
}

.oneArtModule {
  cursor: pointer;
  margin: 5px;
}
.oneArtModule:hover {
  color:blueviolet; 
}