.artDiv {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: minmax(auto, auto);
    gap: 2px;
  }
  
  .artDiv > div {
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  
  .oneArtModule {
    margin: 5px;
  }