.mainDiv {
  align-items: center;
  justify-content: center;
}

.textDiv {
  display: grid;
  grid-template-columns: 5% minmax(300px, auto) 5%;
}

.textDiv > iframe {
  width: 380px;
  height: 250px;
}
.textDiv > p {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 1px;
}
.textDiv > h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
.textDiv > p > img {
  width: 100%;
  flex: 100%;
}
