.mainDiv {
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  gap: 10px;
}
.mainDiv > input {
  border-radius: 10px;
  height: 25px;
}
.mainDiv > button {
  font-size: 15px;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.mainDiv > button:enabled {
  background-color: rgb(91, 54, 166);
  color: white;
}
.mainDiv > p {
  font-size: 10px;
  text-align: center;
  margin: 0px;
  color: red;
}
