.artDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(auto, auto);
  gap: 2px;
}

.artDiv > div {
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.oneArtModule {
  cursor: pointer;
  margin: 5px;
  background-color: rgb(91, 54, 166);
  color: white;
}

.oneArtDiv {
  display: grid;
  grid-template-columns: auto minmax(200px, auto) auto;
}
.oneArtDiv > div {
  border: 0px;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.butDiv {
  display: grid;
  grid-template-columns: minmax(60px, auto) minmax(60px, auto);
  gap: 10px;
}
.butDiv > button {
  background-color: rgb(91, 54, 166);
  color: white;
  border-radius: 10px;
}
